<h1 class="page-header">Lista de processadores</h1>

<div class="well">
  <form (ngSubmit)="createProcessor()">
    <div class="row">
      <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="newProcessor.name" name="name"
          placeholder="Nome do processador">
      </div>
      <div class="col-md-2">
        <button class="btn btn-success" type="submit">
          Adicionar processador
        </button>
      </div>
    </div>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let processor of processors">
      <td>{{ processor.id }}</td>
      <td>{{ processor.name }}</td>
      <td>
        <a [routerLink]="['/processors', processor.id]" class="btn btn-info" style="margin-right: 7px">
          <span class="glyphicon glyphicon-info-sign"></span>
          Detalhes
        </a>
        <button class="btn btn-danger" (click)="deleteProcessor(processor)">
          <span class="glyphicon glyphicon-trash"></span>
          Excluir
        </button>
      </td>
    </tr>
  </tbody>
</table>