<h1 class="page-header">Detalhes da memória: {{ memory.name }}</h1>

<form [formGroup]="form" (ngSubmit)="updateMemory()">
  <div class="row">
    <!-- memoryName -->
    <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('name')">
      <label for="name" class="control-label">Nome</label>
      <input type="text" formControlName="name" id="name" class="form-control">
      <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('name')"></span>

      <div *ngIf="formUtils.showFieldError('name')" class="text-danger">
        <div *ngIf="form.get('name').errors.required">Obrigatório</div>
        <div *ngIf="form.get('name').errors.minlength">Este campo deve ter no mínimo 2 caracteres</div>
        <div *ngIf="form.get('name').errors.maxlength">Este campo deve ter no máximo 255 caracteres</div>
      </div>
    </div>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-success" style="margin-right: 7px">Atualizar</button>
  <button class="btn btn-default" type="button" (click)="goBack()">Voltar</button>

</form>