<h1 class="page-header">Detalhes da Disciplina: {{ discipline.name }}</h1>

<form [formGroup]="form" (ngSubmit)="updateDiscipline()">
  <div class="row">
      <!-- disciplineName -->
      <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('name')">
        <label for="name" class="control-label">Nome</label>
        <input type="text" formControlName="name" id="name" class="form-control">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('name')"></span>
  
        <div *ngIf="formUtils.showFieldError('name')" class="text-danger">
          <div *ngIf="form.get('name').errors.required">Obrigatório</div>
          <div *ngIf="form.get('name').errors.minlength">Este campo deve ter no mínimo 2 caracteres</div>
          <div *ngIf="form.get('name').errors.maxlength">Este campo deve ter no máximo 255 caracteres</div>
        </div>
      </div>
      <!-- disciplineName -->
      <div class="form-group col-md-6 has-feedback" [ngClass]="formUtils.fieldClassForErrorOrSuccess('code')">
        <label for="code" class="control-label">Código</label>
        <input type="text" formControlName="code" id="code" class="form-control">
        <span class="glyphicon form-control-feedback" [ngClass]="formUtils.iconClassForErrorOrSuccess('code')"></span>
  
        <div *ngIf="formUtils.showFieldError('code')" class="text-danger">
          <div *ngIf="form.get('code').errors.required">Obrigatório</div>
          <div *ngIf="form.get('code').errors.minlength">Este campo deve ter no mínimo 2 caracteres</div>
          <div *ngIf="form.get('code').errors.maxlength">Este campo deve ter no máximo 255 caracteres</div>
        </div>
      </div>
      <div class="col-md-4">
          <select class="form-control" formControlName="course_id" name="course_id">
            <option *ngFor="let course of courses" [value]="course.id">{{ course.name }}</option>
          </select>
        </div>
  </div>

  <button [disabled]="form.invalid" type="submit" class="btn btn-success" style="margin-right: 7px">Atualizar</button>
  <button class="btn btn-default" type="button" (click)="goBack()">Voltar</button>

</form>